{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }} | Edit
{% endblock %}

{% block body %}
    {{message}}
    <form action="{% url 'edit' title %}" method="POST">
    {% csrf_token %}
    <table>
    <tr>
        <th><label for="title">Title:</label></th>
        <td><input type="text" name="title" cols="60" required disabled value="{{title}}" id="title"></td>
    </tr>
    <tr>
        <th><label for="content">Content:</label></th>
        <td>
            <textarea name="content" cols="120" rows="10" required id="id_content">{{content}}</textarea>
        </td>
    </tr>
    </table>
    <input type="submit" value="Edit">
    </form>

{% endblock %}
